@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h1>Welcome to the coding club management system</h1>
    <h3>Please use the tabs at the top to navigate</h3>
</div>
